<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chmura PAI</title>
    <base href="/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent" />
    <meta name="theme-color" content="#00b6ed" />
    <meta name="author" content="PSZ,KG,JS" />
    <meta name="copyright" content="Chmura, PAI" />
    <meta name="keywords" content="Chmura, PAI" />
    <meta name="robots" content="nofollow" />
    <meta name="referrer" content="no-referrer" />
    <meta name="referrer" content="never" />
    <meta http-equiv="expires" content="43200" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Chmura PAI" />
    <meta name="title" content="Chmura PAI" />
    <meta property="og:title" content="Chmura PAI" />
    <meta property="twitter:title" content="Chmura PAI" />
    <meta itemprop="name" content="Chmura PAI" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://localhost:3000/" />
    <meta property="twitter:url" content="http://localhost:3000/" />
    <meta property="image" content="assets/banner.jpg" />
    <meta property="og:image" content="assets/banner.jpg" />
    <meta property="twitter:image" content="assets/banner.jpg" />
    <meta name="description" content="Strona do przechowywania danych na chmurze, projekt PAI" />
    <meta
      property="og:description"
      content="Strona do przechowywania danych na chmurze, projekt PAI" />
    <meta
      property="twitter:description"
      content="Strona do przechowywania danych na chmurze, projekt PAI" />
    <meta
      itemprop="description"
      content="Strona do przechowywania danych na chmurze, projekt PAI" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png" />
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="apple-mobile-web-app-title" content="Chmura PAI" />
    <meta name="application-name" content="Chmura PAI" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png" />
    <link id="canonical" rel="canonical" href="http://localhost:3000/" />
    <meta name="browsermode" content="application" />
    <link rel="preload" href="styles/main.css" as="style" onload="this.rel='stylesheet'" />
    <link rel="stylesheet" type="text/css" href="styles/cloud.css" />
    <% if (user.role == 1) { %>
    <script>
      const maxUploadSize = parseInt(`<%= user.maxUploadSize %>`);
    </script>
    <script defer type="module" src="script/cloud.js"></script>
    <% } else if (user.role == 2) { %>
    <script defer type="module" src="script/admin.js"></script>
    <% } %>
  </head>
  <body>
    <nav>
      <% if (user.role == 1) { %>
      <a href="" class="home-button">Home</a>
      <% } %>
      <a href="" class="logout-button">Wyloguj</a>
      <% if (user.role == 1) { %>
      <div class="progress-info">
        <span class="progress-info-text"
          ><%= (user.usedStorage / 1024 / 1024).toFixed(2) %> MB / <%= (user.storageLimit / 1024 /
          1024).toFixed(2) %> MB</span
        >
        <progress
          class="progress"
          value="<%= ((user.usedStorage / 1024 / 1024).toFixed(2) * 100 / (user.storageLimit / 1024 / 1024).toFixed(2)).toFixed(2) %>"
          max="100"></progress>
      </div>
      <% } %>
    </nav>
    <% if (user.role == 1) { %>
    <main>
      <h1 class="hidden-accessible">Cloud</h1>
      <section>
        <div class="info">
          <div class="info-upload">
            <label for="file" class="labelFile"
              ><span></span>
              <p>drag and drop your file here or click to select a file!</p></label
            >
            <input class="input" name="text" id="file" type="file" multiple />
          </div>
        </div>
        <div class="files without-info">
          <p class="path">../</p>
          <ul class="files-list"></ul>
          <button class="create-folder">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
      </section>
    </main>
    <% } else { %>
    <main>
      <h1 class="hidden-accessible">Cloud</h1>
      <section>
        <% if (users.length <= 0) { %>
        <div class="info">
          <p>Brak użytkowników</p>
        </div>
        <% } else { %>
        <ul class="user-list">
          <% users.forEach(user => { %>
          <li class="user-list-item">
            <ul>
              <li>
                <svg
                  class="block-btn"
                  data-id="<%= user.id %>"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                </svg>
                <span><%= user.email %></span>
                <svg
                  class="delete-btn"
                  data-id="<%= user.id %>"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              </li>
              <li>
                <span
                  ><%= (user.usedStorage / 1024 / 1024).toFixed(4) %> MB / <%= (user.storageLimit /
                  1024 / 1024).toFixed(4) %> MB
                </span>
                <svg
                  class="space-btn"
                  data-id="<%= user.id %>"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
              </li>
            </ul>
          </li>
          <% }); %>
        </ul>
        <% } %>
      </section>
    </main>
    <% } %>
  </body>
</html>
